.profile {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto 51px;
}


@media screen and (max-width: 896px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
    width: 100%;
  }
}
