.profile__description {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  grid-area: profile__description;
}

@media screen and (max-width: 465px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}
