.header__close {
  display: none;
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  background-image: url(../../../images/Close__Icon.svg);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline:none;
  position: absolute;
  right: 30px;
  bottom: 24px;
  
}

.header__close:hover {
  opacity: 0.6;
  cursor: pointer;
}