@media screen and (max-width: 896px) {
.header_active {
  min-width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-top: 23px !important;
  padding: 0 0 40px 0 !important;
}
}