.popup {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
}
